
header {

}

.opening {
  
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navbar {
    display: flex;
    justify-content: end;
    font-family: Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva', 'Verdana', 'sans-serif';
    font-size: larger;
}

.greeting {
    display: flex;
    justify-content: center;
    font-size: xx-large;
}

.bio-pic {
    display: flex;
    justify-content: center;
    margin:5%;
    flex-shrink: 10%;
}